.home-block {
    height: 100vh; /* Ocupa toda la pantalla */
    background-attachment: fixed; /* El secreto del efecto parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-medieval {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Efecto vidrio esmerilado moderno */
    padding: 40px;
    border: 2px solid #5d634f;
    color: #f4ece1;
    text-align: center;
}
